$dark: #323230
$purple: #841729
$blue: #555998
$orange: #ffaf00

=textMin()
  color: lighten($dark, 20%)
  font-size: .8em

=textBlueUp($fontSize)
  text-transform: uppercase
  color: $blue !important
  font-weight: bold
  font-size: $fontSize



