nav.navbar.navbar-expand-lg
  a.navbar-brand(href='#') 
    img(src="./img/logo.png", alt="logo")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.nav.navbar-nav.mx-auto
      li.nav-item
        a.nav-link(href='#') Мультфильмы
    form.form-inline.my-1.my-lg-0
      input.form-control.mr-sm-1(placeholder='Поиск по сайту')
      i.fas.fa-search
    form.form-inline.my-1.my-lg-0
      a(href='#') Профиль