footer.col(style="background-image: url(https://www.segodnya.ua/img/article/11463/75_ls.1528879876.jpg)")
    .row
        .col.text-right.text-center  
            img(src="./img/logo.png")
        .col-sm.text-center 
            ul
                li text
                li text
                li text
                li text
                li text
        .col-sm.text-center 
            ul
                li text
                li text
                li text
                li text
                li text
        .col-sm.text-center 
            ul
                li text
                li text
                li text
                li text
                li text