.col.homeFilmList
    .row
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-lg-3.col-md-3.col-sm-6.text-center
            .el 
                .decor
                    .top
                    .left
                    .right
                    .leftC
                    .rightC
                    .bottom
                    .minL1
                    .minL2
                    .minL3
                    .minL4
                    .minR1
                    .minR2
                    .minR3
                    .minR4
                img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
                .info.text-left
                    .title Мстители
                    .text Фантастика
                    .text 2018
        .col-md-12.text-center.loadMore 
            button.btn(type='button')
                i.fas.fa-angle-double-down
                | Показать еще фильмы