nav.navbar.navbar-expand-md.navbar-fixed-top.navbar-dark.bg-dark.main-nav
  .container
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Download
      li.nav-item
        a.nav-link(href='#') Register
    ul.nav.navbar-nav.mx-auto
      li.nav-item
        a.nav-link(href='#') Website Name
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href='#') Rates
      li.nav-item
        a.nav-link(href='#') Help
      li.nav-item
        a.nav-link(href='#') Contact
