mixin searchEl
  li
    img(src="https://www.kinonews.ru/insimgs/2018/newsimg/newsimg79007.jpg")
    .right
      .title Мстители
      .text Описание

mixin navLink
  li.nav-item
    a.nav-link(href='#') Мультфильмы

nav.navbar.navbar-expand-lg
  a.navbar-brand(href='#') 
    img(src="./img/logo.png", alt="logo")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
      i.fas.fa-bars
  #navbarSupportedContent.collapse.navbar-collapse
    ul.nav.navbar-nav.mx-auto
      li#filmListBtn.nav-item
        a.nav-link(href='#') Мультфильмы
      ul#filmList
        +navLink
        +navLink
        +navLink
        +navLink
    form.form-inline.my-1.my-lg-0
      input#search-input.form-control.mr-sm-1(placeholder='Поиск по сайту')
      i.fas.fa-search
      ul.searchMenu
        +searchEl
        +searchEl
        +searchEl
        +searchEl
        +searchEl
    form.form-inline.my-1.my-lg-0
      a(href='#') Профиль