mixin filmLink
    .filmLink
        img(src='https://aserialov.net/wp-content/uploads/2017/12/diagnoz-390x250.jpg')
        .title Серия N
.col.film
    .row
        .col-md-8.player
            img(src='./img/playerBg.png')
        .col-md-4.mind(style="background-image: url(./img/bg.png)") 
            .title title
            .time time
            button.btn(type='button')
                | Смотреть
        .col-md-12.tabs
            ul.nav.nav-tabs(role='tablist')
                li.nav-item
                    a.nav-link.active.show(href='#s1', role='tab', data-toggle='tab') 1 сезон
                li.nav-item
                    a.nav-link(href='#s2', role='tab', data-toggle='tab') 2 сезон
                li.nav-item
                    a.nav-link(href='#s3', role='tab', data-toggle='tab') 3 сезон
                // Tab panes
            .tab-content
                #s1.tab-pane.fade.in.active.show(role='tabpanel')
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                #s2.tab-pane.fade(role='tabpanel')
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                #s3.tab-pane.fade(role='tabpanel')
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink
                    +filmLink



        .col-md-4.info
            .rating
                .left
                    .star
                        i.fas.fa-star.selected
                        i.fas.fa-star.selected
                        i.fas.fa-star.selected
                        i.fas.fa-star.selected
                        i.fas.fa-star
                    .views 133 просмотра
                .right 4.2
        .col-md-3.info
            .watching
                br
                | сейчас смотрят:
                span 255
        .col-md-5.text-right.info
            .share
                br
                | Поделиться
                i.fab.fa-facebook-f
                i.fab.fa-twitter
                i.fab.fa-google-plus-g
        .col-md-12.description
            hr
            .title Улица
            .text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).