doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

    title radion_092218
  body(style="background-image: url(./img/bg.png)")
    .container
      include ./jade/navbar.jade
      include ./jade/player.jade
      include ./jade/comment.jade
      include ./jade/footer.jade
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='js/script.js')

