@import "./styles/global.sass"
@import "./styles/navbar.sass"
@import "./styles/homeFilmList.sass"
@import "./styles/footer.sass"
body
    background: black
    background-repeat: no-repeat
    background-size: contain

    